header, footer {
 background-color: #22314E;
 padding: 25px;
 margin: -10px;
}
main {
 padding: 90px;
 background-color: #AFC5C4;
 margin: -10px;
}
.post {
 background-color: #3C648E;
 padding: 20px;
 border-radius: 50px;
 margin-bottom: 40px;
 width: 100%;
}
.post img {
 margin: 20px;
}
.footer-column {
 margin: 20px;
}
#menu1{
 position: relative;
 display: block;
 width: 100%;
 height: auto;
 z-index: 10;
}
#menu1 ul{
 position: relative;
 display: block;
 margin: 0px;
 padding: 0px;
 width: 100%;
 height: auto;
 list-style: none;
}
#menu1 > ul::after{
 display: block;
 width: 100%;
 height: 0px;
 clear: both;
 content: " ";
}
#menu1 ul li{
 position: relative;
 display: block;
 float: left;
 width: auto;
 height: auto;
}
#menu1 ul li a{
 display: block;
 padding: 9px 25px 0px 25px;
 font-size: 14px;
 line-height: 1.3em;
 text-decoration: none;
 font-weight: bold;
 text-transform: uppercase;
 height: 36px;
 box-sizing: border-box;
 color: #F5F3E7;
}
#menu1 ul li ul{
 position: absolute;
 top: 36px;
 left: 0px;
 display: none;
 width: 200px;
}
#menu1 ul li:hover ul{
 display: block;
}
#menu1 ul li ul li{
 float: none;
 width: 100%;
}
#menu1 ul li ul li a{
 display: block;
 text-transform: none;
 height: auto;
 padding: 7px 25px;
 width: 100%;
 box-sizing: border-box;
 border-top: 1px solid #ffffff;
 color: #FAF0CA;
}
#menu1 ul li ul li:first-child a{
 border-top: 0px;
}
footer{
color : #F5F3E7;
}

h3{
  font-family: "Potta One", cursive;
 font-weight: 700;
 color: #F5F3E7;
}
p{
font-family: "Imbue", serif;
 font-size : 30px;
 color: #F5F3E7;
}
li{
  font-family: 'Hachi Maru Pop', cursive;
}
h1{
  font-family: "Potta One", cursive;
 font-weight: 700;
 color : #F5F3E7;
}
.leftimg {
float:left;
margin: 7px 7px 7px 0;
}
.rightimg {
float: right;
margin: 0 7px 7px 7px;
}
